# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
  - 1.0
  - nightly
matrix:
    allow_failures:
        - julia: 0.6
        - julia: nightly
notifications:
    email: false
after_success:
  # push coverage results to Coveralls
  - julia -e 'using Pkg; cd(Pkg.dir("Indicators")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'using Pkg; cd(Pkg.dir("Indicators")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
